<!--The content below is only a placeholder and can be replaced.-->
<div>
  <FORM METHOD="POST" ACTION="https://esqa.moneris.com/HPPDP/index.php">
    <INPUT TYPE="HIDDEN" NAME="ps_store_id" VALUE="9UXZNtore3">
    <INPUT TYPE="HIDDEN" NAME="hpp_key" VALUE="hpI7PBXD9LI1">
    <label>
      Total cost
    </label>
    <INPUT NAME="charge_total" VALUE="1.00">

    <!-- enable order_id and generated unique value. It help for extra layer protection-->
    <!-- <input type="hidden" name="order_id" VALUE="oid43333">  -->

    <!--MORE OPTIONAL VARIABLES CAN BE DEFINED HERE -->
    <br>
    <INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="Click to proceed to Secure Page">
  </FORM>
</div>